.navbar {
    background-color: #F2CD5C;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-brand {
    color: #400E32;
    font-size: 65px;
}

.textx {
    font-family: Gabriola;
    color: black;
}